* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.body-style {
  background-color: #f4f3f0;
  font-family: "Exo", sans-serif;
  margin: 15px;
  padding: 5px;
}

.header-style {
  text-align: center;
  font-size: xxx-large;
  padding: 50px 0 20px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
  padding: 0px 0px 30px 0px;
}

.menu li {
  list-style-type: none;
}

.menu a {
  color: #333;
}

.picture img {
  max-width: 100%;
}

.article-spacing {
  padding: 0px 0px 10px 0px;
}

h2 {
  margin: 20px 0px 0px 20px;
  color: #333;
  font-size: 28px;
}

p {
  margin: 15px 0px 0px 20px;
  line-height: 25px;
  font-size: 18px;
  color: #333;
}

a {
  color: #333;
}
